* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #070707;
    --sizeIndex: calc(1vw + 1vh);
    --transition: .75s cubic-bezier(.2, .6, 0, 1);
}

@font-face {
    font-family: raleway-m ;
    src: url(../fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
}

@font-face {
    font-family: raleway-m ;
    src: url(../fonts/raleway-v22-cyrillic-900.woff2);
    font-weight: 900;
}

body, html {
    width: 100%;
    height: 100%;
    background: var(--dark);
    color: #fff;
    font-family: raleway-m;
    overflow: hidden;
    line-height: 1.8;
}

.description {
    position: absolute;
    max-width: 24vw;
    font-size: calc(var(--sizeIndex) * .8);
    top: 20vh;
    left: 8vw;
    opacity: .9;
    transition: opacity var(--transition), transform var(--transition);
}

.logo {
    font-size: calc(var(--sizeIndex) * 3.6);
    font-weight: 900;
    display: inline-block;
    background: linear-gradient(45deg, darkmagenta, tomato, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease;
}
.description p {
	opacity: .9;
	transition: transform var(--transition);
	transition-duration: 3s;
}
.description.hidden {
	opacity: 0;
	transform: translateY(10vh);
}
.description.hidden p {
	transform: translateY(5vh);
}

.slider {
    height: 100%;
    rotate: 15deg;
    overflow: visible;
    top: 10vh;
}

.slider__wrapper {
    transition: var(--transition) !important;
    will-change: transform;
}

.slider__item {
    max-height: 75vh;
    overflow: hidden;
    cursor: pointer;
    transition:  transform var(--transition), box-shadow var(--transition);
}

.slider__img {
    position: absolute;
    width: 300%;
    height: 100%;
    background-size: cover;
    left: -100%;
    transition: var(--transition) !important;
    will-change: transform;
}

.slider__bg {
    z-index: 0;
    rotate: -20deg !important;
    top: -90vh;
    left: -10vh;
    opacity: .60;
    filter: saturate(1000) blur(120px);
}

.slider_bg .slider__item {
    max-height: 100vh;
}

.slider__item.opened {
    z-index: 2;
    transform: rotate(-15deg) scale(1.45);
    box-shadow: rgb(0 0 0 / .75) 0 0 0 10000px;
}