body {
    background: #000;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.button {
    color: white;
    text-decoration: none;
    font-family:  monospace;
    font-size: 24px;
    padding: 20px 40px;
    background: #424a54;
    box-shadow: 0 0 2px white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;
    position: relative;
}

.button::before,
.button::after{ 
    --size: 600px;


    content: '';
    position: absolute;
    left: 60%;
    bottom: -30%;
    transform: translate(-50%);
    width: var(--size);
    height: var(--size);
    background: rgba(0, 0, 0, 0.575);
    border-radius: 40%;
    box-shadow: inset 0 0 6vw rgb(0 0 0 / 0.8);
    transition: all 0.5s;
}

.button::before {
    animation: rotate 7s linear infinite;
    bottom: 75%;
}

.button::after{
    background: rgba(0, 0, 0, 0.337);
    box-shadow: inset 0 0 6vw rgb(0 0 0 / 0.4);
    left: 40%;
    animation: rotate 10s linear infinite;
    bottom: 80%;
}

.button .shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    /* outline: 1px solid red; */
    transform: translateY(-50%);
    box-shadow: inset 0 0 3vw rgb(0 0 0 / 0.7);
}
.button span {
    text-shadow: 0 1px 2px #000;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}

.button:hover span {
    opacity: 1;
    text-shadow: 0 2px 3px #000;
}

.button:hover::before,
.button:hover::after {
    bottom: 150%;
}
@keyframes rotate {
    from {
        transform: 
        translate(-50%, 0)
        rotate(0deg)
        ;
    }

    to {
        transform: 
        translate(-50%, 0)
        rotate(360deg)
        ;
    }
}